body {
    background-color: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.navigationbar {
    background-color: #1f2235 !important;
}

.navbar-nav {
    font-size: larger;
}

.name-logo {

    padding-top: 0.8%;
}

.nav-link {
    border: 10px solid transparent;
}

.nav-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #FFC10B;
    transition: 1s ease;
}