body {
    background-color: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.navigationbar {
    background-color: #1f2235 !important;
}

.navbar-nav{
    font-size: larger;
}