body {
    background-color: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.navigationbar {
    background-color: #1f2235 !important;
}

.navbar-nav {
    font-size: larger;
}

.name-logo {

    padding-top: 0.8%;
}

.nav-link {
    border: 10px solid transparent;
}

.nav-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #FFC10B;
    transition: 1s ease;
}

.logo{
    margin-left: 13%;
    margin-right: 3%;
}

.main-container {
    min-height: 100vh;
    padding-top: 5rem;
}

.title-heading:hover {
    color: #FFC10B;
}

.main-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-row h1{
    font-size: 5rem;
}

.main-row img {
    width: auto;
    height: 30rem;
    border-radius: 10%;
}

#about {
    background: #313552;
    border-radius: 0.5rem;
    margin-bottom: 2%;
}